@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

/*****************************************--NavBar-*************************************/


.menu-bar{
    display: none;
}

nav{
    height: auto;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    position: fixed;
    z-index: 3;
}

nav ul{ /*Todos los ul que esten dentro del nav*/
    list-style: none;
}
/*En este ejemplo es lo mismo porque nav solo tiene esos hijos ul*/

nav>ul{/*Todos los ul hijos directos del nav*/
    display: table;
    overflow: hidden;/*todo lo que sobresalga desaparezca*/
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    position: relative;
    margin-bottom: 0%;
    float: left;
    padding: 0px;
-webkit-box-shadow: 1px 2px 7px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    1px 2px 7px 0px rgba(50, 50, 50, 1);
box-shadow:         1px 2px 7px 0px rgba(50, 50, 50, 1);
}

nav>ul>li>a span{
    background: gray;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;/**posicionarlo a la izquierda*/
    position: absolute;/*sera relativo al padre*/
    top: -55px;  /*se movera hacia arriba -55px relativo al padre**/

    /*From*https://css3generator.com/**/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul li{
    display: table-cell;
}

nav>ul li a {
    font-weight: bold;
    color: rgb(26, 25, 25);
    font-family: "Roboto",sans-serif;
    display: block;/*para poder ajustar ancho y largo*/
    line-height: 15px;
    padding: 15px;
    position: relative; /*en caso de tener hijos para el menu desplegable*/
    text-align: center;
    text-decoration: none;

    /*From*https://css3generator.com/**/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav>ul>li>a span .fa{
    display: block;
    line-height: 60px;
    color: rgb(159, 45, 45);
}

nav>ul>li>a:hover>span{/**estilo se aplica a span**/
    top:0;
}
nav>ul>li>a:hover{ /**estilo se aplica a a**/
    text-decoration: none;
}

nav ul li a .first{
    background: rgb(102, 101, 101);
}
nav ul li a .second{
    background: rgb(102, 101, 101);
}
nav ul li a .third{
    background: rgb(102, 101, 101);
}
nav ul li a .fourth{
    background: rgb(102, 101, 101);
}
/******************--Nav-Bar en moviles-********************/
@media screen and (max-width: 800px){
    .menu-bar{
        z-index: 2;
        display:inherit;
        width: 100%;
        left: 0;
        position: fixed;
    }
    
    nav{
        margin: 0;
    }
   
   /*-nav-*/
    nav ul { 
        top:62px;
        width: 50%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        z-index: 2;
        padding-left: 0;
        box-shadow: none;
    }

    nav>ul>li>a span{
        top:0;
        left:-100%;/*-cuanto se va aa ver los colores-*/
    }

    nav>ul>li>a:hover>span{
        transform: translateX(100%);/*-cuanto se van a trasladar los colores-*/
    }

    nav ul li{
        display: block;
        float:none;
        border-bottom:1px solid rgba(255, 255, 255, 0.281);
    }
    .menu-bar .btn-menu{
        display: block;
        padding: 11px;
        background: rgba(255, 255, 255, 0.842);
        color: rgb(44, 44, 44);
        text-decoration: none;
        /* font-weight: bold; */
        font-size: 18px;
        box-sizing: border-box;
    }
    .menu-bar span{
        float: right;
        font-size: 35px;
    }
}
@media screen and (min-width: 800px){
   /*-nav-*/
    nav ul { 
        left: 0 !important;
    }
}


/*****************************************--Images-*************************************/

#mypicture{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    background-image: url(../images/slate.jpg);
}

#skills{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    height: auto;
    width: 100%;
    background-image: url(../images/white-coumputer-keyboard-34490.jpg);
}

#about{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-color: #80808047;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#publications{
    background-color: #ececec;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: auto;
    overflow: hidden;
    width: 100%;
}

#contact{
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    height: auto;
    overflow: hidden;
    width: 100%;
    content: normal;
    background-image: url(../images/white-coumputer-keyboard-34490.jpg);
}
#footer-contact{
    background-color: #666666;
}
#footer{
    color: rgb(202, 196, 196);
    padding: 60px;
    background-color: #363636;
}
/*****************************************--Transparent-*************************************/
.transparent-background-home{
    width:100%;
    height: 100vh;
    background-color: rgba(246, 246, 246, 0.43);
    z-index: 2; 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+30,ffffff+83&0.81+26,0+76,0+90,0+90 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0.81) 26%, rgba(255,255,255,0.75) 30%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 83%, rgba(255,255,255,0) 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.81) 26%,rgba(255,255,255,0.75) 30%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0.81) 26%,rgba(255,255,255,0.75) 30%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}
.centro{
    text-align: center;
    line-height: 41px;
    font-size: 1.4rem;
    margin-top: 25vh;
    margin-bottom: 25vh;
    z-index: 6;
    font-family: 'Montserrat', sans-serif;
}
.transparent-background-skills{
    padding-top: 155px;
    padding-bottom: 135px;
    width:100%;
    height: auto;
    overflow: hidden;
   /* background-color: rgba(68, 58, 99, 0.29);*/
    background-color: #fffffff1;
    z-index: 2; 
}

.transparent-background-contact{
    padding-top: 155px;
    padding-bottom: 135px;
    width:100%;
    height: 50%;
    overflow: hidden;
    background-color: rgba(220, 220, 220, 0.79);
    z-index: 2; 
}

                             
 /*****************************************--Header-*************************************/
 
 /*Presentation*/
#page-header{
    color: rgb(44, 44, 44);
    font-family: "Rboto", sans-serif;
}
#page-header>h1{
    font-size:60px;
}
#page-header>h1>small{
    color: rgb(159, 45, 45);
}
#page-header>p{
    color: rgb(159, 45, 45);
    font-weight: bold;
    font-size: 29px;
}
.mt-5 {
    margin-top: 12rem!important;
}

/*****************************************--Cabeceras-*************************************/
.cabeceras{
    color: rgb(44, 44, 44);
    width: 100%;
    font-family: "Roboto",sans-serif;

    text-align: center;
    margin-bottom: 30px;
}


/*****************************************--Skills-*************************************/
.skill-wrapper{
    text-align: center;
    position: absolute;
}

.skill-name{
    font-size: 20px;
    float: right;
    width: 100%;
    margin-bottom: 9px;
    text-align: right;
    color: rgb(44, 44, 44);
}

.progress {
    background: rgba(0, 0, 0, 0);
    height: 16px;
    animation: prog 3s linear;
    margin-top: 10px;
}
.bg-success{
    background-color: rgb(159, 45, 45)!important;
    border-radius: 7px;
}
/*-Animation skills-*/
@keyframes prog {
    from {
        width: 0%; 
        }
    to {
        width: 100% ;
        }
}


/*****************************************--About-*************************************/
.about{
    color:rgb(59, 58, 58);
}


/*****************************************--Publications-*************************************/






/***************************--Time line-************  Idea from  https://gist.github.com/CodeMyUI/258edf8a49787f76e7b41761eea612f6    ***********************/


/**time-line-container**/
.time-line-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: transparent;
  padding: 0 10%;
  border-radius: 2px;
}

/**time-line-container**/
.time-line-container::after {
  content: '';
  display: table;
  clear: both;
}

/**line**/
#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
/**line color**/
#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: rgb(159, 45, 45);
}

.read-more{
    margin-top: 12px;
    padding: 5px;
}
.read-more .btn-primary{
    color: black;
    border: none;
    background-color: rgb(204, 202, 202);
    font-size: 15px;
}

.date{
    background-color: rgba(189, 189, 189, 0);
    font-family: "Roboto",sans-serif;
}

/**line in widescreen**/
@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/**card-timeline-container**/
.card-timeline-container {
  position: relative;
  margin: 2em 0;
}
/**No floating elements allowed on either the left or the right side of the card-timeline **/
.card-timeline-container:after {
  content: "";
  display: table;
  clear: both;
}

/**margin on the top**/
.card-timeline-container:first-child {
  margin-top: 0;
}

/**margin on the bottom**/
.card-timeline-container:last-child {
  margin-bottom: 0;
}

/**bigest than desktop**/
@media only screen and (min-width: 1170px) {    
    .card-timeline {
        margin: 4em 0;
    }
    /**margin on the top**/
    .card-timeline:first-child {
        margin-top: 0;
    }

    /**margin on the bottom**/
    .card-timeline:last-child {
        margin-bottom: 0;
    }
}

/**Circle that is on top of the line border ...shadow-circle-color...**/
.circle {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(173, 173, 173, 0.185), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
/**inside color**/
.circle {
  background:rgb(159, 45, 45);
}

/**Wscreen Circle that is on top of the line**/
@media only screen and (min-width: 1170px) {
  .circle {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
  }
}

/**Content inside of the card (primeros hijos)  COLOR **/
.card-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: white;
  border-radius: 2px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-timeline-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/**Agrupa la informacion TITLE AND DATE ..color...**/
.card-timeline-container-info {
    background: transparent;
    padding: 5px 10px;
    color: rgba(5, 5, 5, 0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(216, 214, 214, 0.424);
    border-radius: 2px;
}

/**card-timeline-container-info**/ 
.card-timeline-container-info>i {
    margin-right: 5px;
}


/**card-timeline-container-info-TITLE and card.....-DATE**/
.card-timeline-container-info-title, .card-timeline-container-info-date {  
    width: calc(50% - 2px);
    display: inline-block;
}
/** In small screen *** card-timeline-container-info-TITLE and card.....-DATE**/
@media (max-width: 500px) {
    .card-timeline-container-info-title, .card-timeline-container-info-date {  
        display: block;
        width:100%;
   } 
}


/**Skills**/
.container-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;  /**Taked from https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp **/
    flex-wrap: wrap; /**specifies whether the flexible items should wrap or not.**/
    justify-content: center;
}
/**Skills  ...color...**/
.container-skills>li {
    background: rgba(240, 240, 240, 0.726);
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgb(31, 31, 31);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
}


/**Do this after the card...-content**/
.card-timeline-content:after {
  content: "";/*pone esto siempre despues*/
  display: table;/*lo muestra como una tabla*/
  clear: both;/*y no lo permite flotar*/
}
/**header color**/
.card-timeline-content h2 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  margin-top:0;
  margin-bottom: 5px;
}
/**paragraf color**/
.card-timeline-content p, .card-timeline-content .date {
  color: rgb(0, 0, 0);
  font-size: 13px;
}
.card-timeline-content .date {
  display: inline-block;
}
.card-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
/**Lite triangle in the left (before)**/
.card-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid rgb(172, 173, 173);
}


/**MOVIL**/
@media (min-width: 768px) {
  .card-timeline-content h2 {
    font-size: 20px;
  }
  .card-timeline-content p {
    font-size: 16px;
  }
  .card-timeline-content .read-more, .card-timeline-content .date {
    font-size: 14px;
  }
}

/**DESKTOP**/
@media (min-width: 1170px) {

    .card-timeline-content {
        color: rgb(224, 222, 222);
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%
    }

    /**Triangle color**/
    .card-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: rgb(255, 255, 255);
    }
    
    .card-timeline-content .date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
    }

    /**nth-child(even)=nth-child(2n)=  card-timeline-container PARES **/
    .card-timeline-container:nth-child(even) .card-timeline-content {
        float: right;
    }

    /****Antes de cada container*******nth-child(even)=nth-child(2n)=  card-timeline-container PARES **/
    /**Triangulo de la izquierda de los PARES**/
    .card-timeline-container:nth-child(even) .card-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: rgb(255, 255, 255);
    }

    /**The .read-more of the .card-timeline-content of the PARES  go to the left**/
    .card-timeline-container:nth-child(even) .card-timeline-content .read-more {
        float: right;
    }

    /**The .date of the .card-timeline-content of the PARES  go to the left**/
    .card-timeline-container:nth-child(even) .card-timeline-content .date {
        left: auto;
        right: 130%;
        text-align: right;
        font-size: 22px;
    }

    /**The .date of the .card-timeline-content of the NO PARES  go to the left**/
    .card-timeline-container:nth-child(odd) .card-timeline-content .date {
        left: 130%;
        right: auto;
        text-align: left;
        font-size: 22px;
    }

}




/*****************************************--Contact-*************************************/

.contact-container{
    background-color:#666666 ;
    color: #d0d0d0;
    -webkit-box-shadow: -1px 4px 12px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 12px -3px rgba(0,0,0,0.75);
box-shadow: -1px 4px 12px -3px rgba(0,0,0,0.75);
}
.container-formulario{
    text-align: center;
    font-family: "Roboto",sans-serif;
}

.btn-primary {
  background-color: rgb(138, 26, 26);
  font-size: 14px;
  border: none;
  color: white;
  font-family: 'webkit-pictograph', sans-serif;
}

.btn-primary:hover{
    background-color: #8080807a;
}

.cabeceras-contact{
    font-family: "Roboto",sans-serif;
    text-align: left;
    color:white;
}

.information-contact-cabecera > p{
    line-height:32px;
}
/*****************************************--Footer-*************************************/

.information{
    color: #d0d0d0;
}

.footer-links a{
    color: white;

}
.footer-links a:hover{
    color: rgb(159, 45, 45);

}

/*****************************************--DesktopAproach-*************************************/

/* mayor que tablet menor que desktop*/
@media(max-width:991px){
    .information-contact-cabecera > p{
        line-height:22px;
        font-size:  15px;   
    }
    .information{
        font-size:  15px;  
    }
}

/*md  TABLETS*/
@media(max-width:767px){
  .cabeceras-contact{
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .information-contact-cabecera > p{
        line-height:20px;
    }

}
/*xm  MOBIL*/
@media(max-width:568px){
    .transparent-background-skills {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
 
    .progress {
        height: 21px;
        margin-top: 2px;
    }

    .form-group {
        display: flex;
        margin-bottom: 2rem;
    }

    .cabeceras-contact{
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .information-contact-cabecera > p{
        line-height:20px;
    }

    .centro{
        font-size: 0.9rem;
        line-height: 25px;
        margin-top: 10vh;
        margin-bottom: 7vh;
    }
}

/*Deleting gap from boostrap*/
.row{
    margin-right: 0px!important;
    margin-left: -3px!important;
}